body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1053px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:455px;
}
#u380 {
  position:absolute;
  left:238px;
  top:94px;
  width:341px;
  height:455px;
}
#u381 {
  position:absolute;
  left:2px;
  top:220px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:151px;
}
#u382 {
  position:absolute;
  left:238px;
  top:591px;
  width:341px;
  height:151px;
}
#u383 {
  position:absolute;
  left:2px;
  top:68px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u384 {
  position:absolute;
  left:85px;
  top:44px;
  width:181px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u385 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u386 {
  position:absolute;
  left:259px;
  top:590px;
  width:299px;
  height:1px;
}
#u387 {
  position:absolute;
  left:2px;
  top:-8px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u388 {
  position:absolute;
  left:259px;
  top:559px;
  width:57px;
  height:16px;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u390 {
  position:absolute;
  left:388px;
  top:559px;
  width:116px;
  height:16px;
}
#u391 {
  position:absolute;
  left:16px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u390_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:503px;
}
#u392 {
  position:absolute;
  left:699px;
  top:94px;
  width:341px;
  height:503px;
}
#u393 {
  position:absolute;
  left:2px;
  top:244px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:104px;
}
#u394 {
  position:absolute;
  left:699px;
  top:638px;
  width:341px;
  height:104px;
}
#u395 {
  position:absolute;
  left:2px;
  top:44px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u396 {
  position:absolute;
  left:781px;
  top:417px;
  width:122px;
  height:18px;
  text-align:left;
}
#u397 {
  position:absolute;
  left:2px;
  top:1px;
  width:118px;
  word-wrap:break-word;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u398 {
  position:absolute;
  left:825px;
  top:454px;
  width:137px;
  height:18px;
  text-align:left;
}
#u399 {
  position:absolute;
  left:2px;
  top:1px;
  width:133px;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u400 {
  position:absolute;
  left:809px;
  top:472px;
  width:137px;
  height:18px;
  text-align:left;
}
#u401 {
  position:absolute;
  left:2px;
  top:1px;
  width:133px;
  word-wrap:break-word;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u402 {
  position:absolute;
  left:780px;
  top:496px;
  width:122px;
  height:18px;
  text-align:left;
}
#u403 {
  position:absolute;
  left:2px;
  top:1px;
  width:118px;
  word-wrap:break-word;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u404 {
  position:absolute;
  left:824px;
  top:533px;
  width:137px;
  height:18px;
  text-align:left;
}
#u405 {
  position:absolute;
  left:2px;
  top:1px;
  width:133px;
  word-wrap:break-word;
}
#u406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u406 {
  position:absolute;
  left:808px;
  top:551px;
  width:137px;
  height:18px;
  text-align:left;
}
#u407 {
  position:absolute;
  left:2px;
  top:1px;
  width:133px;
  word-wrap:break-word;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u408 {
  position:absolute;
  left:930px;
  top:654px;
  width:95px;
  height:30px;
}
#u409 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u410 {
  position:absolute;
  left:717px;
  top:613px;
  width:55px;
  height:15px;
  font-size:12px;
}
#u411 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u412 {
  position:absolute;
  left:783px;
  top:613px;
  width:138px;
  height:15px;
  font-size:12px;
}
#u413 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  position:absolute;
  left:330px;
  top:776px;
  width:174px;
  height:16px;
}
#u415 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u416 {
  position:absolute;
  left:514px;
  top:567px;
  width:0px;
  height:0px;
}
#u416_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u416_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:84px;
  height:8px;
}
#u416_seg2 {
  position:absolute;
  left:72px;
  top:-4px;
  width:8px;
  height:225px;
}
#u416_seg3 {
  position:absolute;
  left:-10px;
  top:213px;
  width:90px;
  height:8px;
}
#u416_seg4 {
  position:absolute;
  left:-17px;
  top:207px;
  width:21px;
  height:20px;
}
#u417 {
  position:absolute;
  left:26px;
  top:106px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u418 {
  position:absolute;
  left:824px;
  top:776px;
  width:174px;
  height:32px;
}
#u419 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u420 {
  position:absolute;
  left:1025px;
  top:669px;
  width:0px;
  height:0px;
}
#u420_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:29px;
  height:8px;
}
#u420_seg1 {
  position:absolute;
  left:21px;
  top:-4px;
  width:8px;
  height:131px;
}
#u420_seg2 {
  position:absolute;
  left:-27px;
  top:119px;
  width:56px;
  height:8px;
}
#u420_seg3 {
  position:absolute;
  left:-34px;
  top:113px;
  width:21px;
  height:20px;
}
#u421 {
  position:absolute;
  left:-25px;
  top:67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422 {
  position:absolute;
  left:921px;
  top:621px;
  width:0px;
  height:0px;
}
#u422_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:133px;
  height:8px;
}
#u422_seg1 {
  position:absolute;
  left:125px;
  top:-4px;
  width:8px;
  height:179px;
}
#u422_seg2 {
  position:absolute;
  left:77px;
  top:167px;
  width:56px;
  height:8px;
}
#u422_seg3 {
  position:absolute;
  left:70px;
  top:161px;
  width:21px;
  height:20px;
}
#u423 {
  position:absolute;
  left:79px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
