body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1134px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  height:486px;
}
#u358 {
  position:absolute;
  left:69px;
  top:136px;
  width:918px;
  height:486px;
}
#u359 {
  position:absolute;
  left:2px;
  top:235px;
  width:914px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u360 {
  position:absolute;
  left:69px;
  top:60px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u361 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
}
#u362 {
  position:absolute;
  left:968px;
  top:471px;
  width:118px;
  height:33px;
}
#u363 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
}
#u364 {
  position:absolute;
  left:975px;
  top:475px;
  width:104px;
  height:25px;
}
#u365 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366 {
  position:absolute;
  left:999px;
  top:480px;
  width:57px;
  height:16px;
}
#u367 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:45px;
}
#u368 {
  position:absolute;
  left:968px;
  top:500px;
  width:118px;
  height:45px;
}
#u369 {
  position:absolute;
  left:2px;
  top:14px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u370 {
  position:absolute;
  left:974px;
  top:510px;
  width:106px;
  height:26px;
}
#u371 {
  position:absolute;
  left:2px;
  top:5px;
  width:102px;
  word-wrap:break-word;
}
#u372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u372 {
  position:absolute;
  left:668px;
  top:563px;
  width:119px;
  height:34px;
}
#u373 {
  position:absolute;
  left:2px;
  top:9px;
  width:115px;
  word-wrap:break-word;
}
#u374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u374 {
  position:absolute;
  left:921px;
  top:598px;
  width:213px;
  height:70px;
  text-align:left;
}
#u375 {
  position:absolute;
  left:2px;
  top:3px;
  width:209px;
  word-wrap:break-word;
}
#u376 {
  position:absolute;
  left:1027px;
  top:545px;
  width:0px;
  height:0px;
}
#u376_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u376_seg1 {
  position:absolute;
  left:-4px;
  top:40px;
  width:9px;
  height:8px;
}
#u376_seg2 {
  position:absolute;
  left:-3px;
  top:40px;
  width:8px;
  height:13px;
}
#u376_seg3 {
  position:absolute;
  left:-9px;
  top:39px;
  width:20px;
  height:21px;
}
#u377 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378 {
  position:absolute;
  left:787px;
  top:580px;
  width:0px;
  height:0px;
}
#u378_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:245px;
  height:8px;
}
#u378_seg1 {
  position:absolute;
  left:237px;
  top:-4px;
  width:8px;
  height:22px;
}
#u378_seg2 {
  position:absolute;
  left:231px;
  top:4px;
  width:20px;
  height:21px;
}
#u379 {
  position:absolute;
  left:80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
